<div class="container">
    <div class="hcontain">
      <h1>TIC<span class="tac">TAC</span><span class="toe">TOE</span></h1>
    </div>
  <div class="wrapper">
  
  <div class="scoreboard">
    <h2>SCOREBOARD</h2>
    <div class="scoreboardContent">
      <h3>Player wins:<span class="score">{{ playerWins }}</span> </h3>
      <h3>Computer wins: <span class="score">{{ computerWins }}</span></h3>
      <h3>Draws: <span class="score">{{ drawGames }}</span></h3>
    </div><!--closes scoreboard content-->
  </div><!--closes scoreboard-->
  
  <div class="attention" [ngClass]="{'hide': gameStarted} ">
      <button [ngClass]="{'hide': gameStarted }"  (click)="startGameAsX()"><span class="playgameas">Play Game as :</span><span class="red"> X</span></button>
      <button [ngClass]="{'hide': gameStarted }"  (click)="startGameAsO()"><span class="playgameas">Play Game as :</span><span class="red"> O</span> </button>
      <button [ngClass]="{'hide': gameStarted && !gameOver }" (click)="resetGame()">Reset Game</button>
      <button [ngClass]="{'hide': gameStarted && gameOver }" (click)="resetGame()">Play Again?</button>
    </div>
  </div><!-- closes wrapper-->
  <div class="gameBack">
  <div class="gameboard">
    <div class="gameboardContent">
    <div *ngFor="let row of gameBoard.board; index as i" class="gameRow">
      <!-- example of highlightSpaces array
      <div *ngFor="let column of row; index as j"  class="gameSpace row{{ i }} col{{ j }}" id="{{ i }}_{{ j }}" >
        <h1 *ngIf="gameBoard.board[i][j] == 1" class="filledSpace" [class.highlightSpace]="highlightSpaces[i][j]">X</h1>
        <h1 *ngIf="gameBoard.board[i][j] == -1" class="filledSpace" [class.highlightSpace]="highlightSpaces[i][j]">O</h1>
      -->
      <div *ngFor="let column of row; index as j" class="gameSpace row{{ i }} col{{ j }}" id="{{ i }}_{{ j }}" >
        
        <!--div containing svg for "x" // replaces h3-->
        <div class="gameBox" *ngIf="gameBoard.board[i][j] == 1">
            <svg id="ticTacX" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 49.6 49.6"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>tictac_x</title><path class="cls-1" d="M51.45,7.48,46.3,2.33a.79.79,0,0,0-1.13,0L27.46,20a.81.81,0,0,1-1.14,0L8.61,2.33a.79.79,0,0,0-1.13,0L2.33,7.48a.79.79,0,0,0,0,1.13L20,26.32a.81.81,0,0,1,0,1.14L2.33,45.17a.79.79,0,0,0,0,1.13l5.15,5.15a.79.79,0,0,0,1.13,0L26.32,33.74a.81.81,0,0,1,1.14,0L45.17,51.45a.79.79,0,0,0,1.13,0l5.15-5.15a.79.79,0,0,0,0-1.13L33.74,27.46a.81.81,0,0,1,0-1.14L51.45,8.61A.79.79,0,0,0,51.45,7.48Z" transform="translate(-2.09 -2.09)"/></svg>
        </div>
        
          <!--div containing svg for "o" // replaces h3-->
        <div class="gameBox" *ngIf="gameBoard.board[i][j] == -1">
          <svg id="ticTacO" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.78 53.78"><defs><style>.cls-1{fill:#231f20;}</style></defs><title>tictac_0</title><path class="cls-1" d="M26.89,0A26.89,26.89,0,1,0,53.78,26.89,26.89,26.89,0,0,0,26.89,0Zm0,45.76A18.87,18.87,0,1,1,45.76,26.89,18.87,18.87,0,0,1,26.89,45.76Z" transform="translate(0 0)"/></svg></div>
        <div *ngIf="gameBoard.board[i][j] == 0 && gameStarted" class="blankSpace" (click)="playerMove([i, j])">
        
      </div><!--closes blankSpace-->
    </div><!--closes gameSpace-->
  </div><!--closes gameRow-->
</div><!--closes gameboardContent-->
</div><!--closes gameboard-->
</div><!-- closes gameBack-->
</div>


<!-- <div>
    <button *ngIf="!gameStarted" (click)="startGameAsX()">Play Game as X</button>
    <button *ngIf="!gameStarted" (click)="startGameAsO()">Play Game as O</button>
    </div> -->